{{ with .Site.GetPage "section" "products" }}
{{ range where .Site.Pages "Type" "products" }}
      <div class="product">
        <h2>{{ .Title }}</h2>
        <p>{{ .Description }}</p>
        <p>Price: ${{ .Params.price }}</p>
        <button
          class="snipcart-add-item"
          data-item-id="{{ .Permalink }}"
          data-item-name="{{ .Params.title }}"
          data-item-price="{{ .Params.price }}"
          data-item-url="{{ .Permalink }}"
        >
          Add to Cart
        </button>
      </div>
    {{ end }}
  </div>
  
  {{end}}